<?xml version="1.0"?>
<config>
    <modules>
        <Achang_RemoveBilling>
            <version>0.1.0</version>
        </Achang_RemoveBilling>
    </modules>
    <global>
        <models>
            <removebilling>
                <class>Achang_RemoveBilling_Model</class>
            </removebilling>

        </models>
        <blocks>
            <removebilling>
                <class>Achang_RemoveBilling_Block</class>
            </removebilling>
            <checkout>
                <rewrite>
                    <onepage>Achang_RemoveBilling_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <removebilling>
                <class>Achang_RemoveBilling_Helper</class>
            </removebilling>
        </helpers>
    </global>
</config>