<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Achang_Chinacustomer>
            <version>0.2.0</version>
        </Achang_Chinacustomer>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <quote_address>Achang_Chinacustomer_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <customer>
                <rewrite>
                    <customer>Achang_Chinacustomer_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
            <chinacustomer>
                <class>Achang_Chinacustomer_Model</class>
                <resourceModel>chinacustomer_mysql4</resourceModel>
            </chinacustomer>
        </models>
        <helpers>
            <chinacustomer>
                <class>Achang_Chinacustomer_Helper</class>
            </chinacustomer>
        </helpers>
        <blocks>
            <chinacustomer>
                <class>Achang_Chinacustomer_Block</class>
            </chinacustomer>
        </blocks>
        <resources>
            <chinacustomer_setup>
                <setup>
                    <module>Achang_Chinacustomer</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chinacustomer_setup>
            <chinacustomer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chinacustomer_write>
            <chinacustomer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chinacustomer_read>
        </resources>
    </global>
</config>
